/* :root {
  
} */

@media (prefers-color-scheme: dark) {
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: overlay;
  overflow-x: hidden;
}

body {
  width:100vw;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.MuiListItemText-primary {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
