#MainContainer {
    padding: 18vh 10vw 30vh;
    font-family: 'Inter', sans-serif;
    color:#011627;
    
}
#MainContainer[type='header'] {
   
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing:-0.02em;
   
}
#MainContainer>h3 {
    margin: 30px 0 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
   
}

#MainContainer ul>li {
    margin-left: 20px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
   
}

#MainContainer ol>li {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top:16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color:#666666
}

.reachOut {
    margin-top: 20px;
    
   
}

#MainContainer mark {
    background-color:#B2E4D7;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

#MainContainer>p {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

/* Responsiveness for large screens */
@media (min-width: 1450px) {
    #MainContainer {
        padding: 13vh 15vw 20px;
    }
}

/* Responsiveness for tablet view */
@media only screen and (max-width : 1040px) {
    #MainContainer {
        padding: 150px 20px 20px;
        margin-bottom: 80px;
    }
}

/* Responsiveness for mobile view */
@media only screen and (max-width : 440px) {
    #MainContainer {
        padding: 80px 10px 20px;
        margin-bottom: 50px;
    }

    #MainContainer ol>li {
        margin-left: 20px;
    }
}