#MainContainer {
    padding: 12vh 15vw 30px;
}

#MainContainer>h1 {
    text-align: center;
    color: black;
}

#MainContainer>h1>span {
    color: #fb8135;
}

#listContainer {
    margin-top: 30px;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf4f9;
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    gap: 30px;
}

.listItemCompanyData {
    display: flex;
    align-items: center;
    gap: 40px;
}

.listItemCompanyData>h4 {
    font-size: large;
    display: flex;
    align-items: center;
    gap: 5px;
}

.listItemBtns {
    display: flex;
    gap: 10px;
}

#notLoggedinDiv {
    margin: 15vh auto auto;
    width: 50%;
    text-align: center;
}

#notLoggedinDiv>button {
    padding: 10px 30px;
    margin-top: 15px;
    background-color: #fb8135;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#notLoggedinDiv>button:hover {
    background-color: #fe8d47;
}


/* Responsiveness for small laptops view */
@media only screen and (max-width : 1200px) {
    #MainContainer {
        padding: 15vh 15vw 30px;
    }

    .listItem {
        padding: 20px;
    }

    .listItemCompanyData>h4 {
        font-size: medium;
    }
}

#loadMoreBtn {
    width: 200px;
    display: block;
    margin: 10px auto 0;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #627b8e;
    color: white;
    cursor: pointer;
    font-size: medium;
}


/* Responsiveness for large screens */
@media (min-width: 1450px) {
    #MainContainer {
        padding: 12vh 25vw 30px;
    }
}

/* Responsiveness for tablet view */
@media only screen and (max-width : 920px) {
    #MainContainer {
        padding: 100px 20px 30px;
        margin-bottom: 60px;
    }

    #notLoggedinDiv {
        margin: 100px auto auto;
    }
}

/* Responsiveness for mobile view */
@media only screen and (max-width : 450px) {
    #MainContainer {
        padding: 80px 10px 50px;
        margin-bottom: 20px;
    }

    #listContainer {
        margin-top: 20px;
    }

    .listItem {
        flex-direction: column;
        padding: 15px 10px;
        margin-bottom: 15px;
        gap: 20px;
    }

    .listItemCompanyData>h4 {
        font-size: large;
    }

    #notLoggedinDiv {
        margin: 100px auto auto;
        width: 95%;
    }
}