#MainContainer {
  width: 100%;
  margin: 20px auto;
  font-family: 'DM Sans', sans-serif;
  color:"#000910"
}
#MainContainer > p {
  font-family: 'DM Sans', sans-serif;
}

#MainContainer h2 {
  text-decoration: none;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #000910;
  font-family: 'DM Sans', sans-serif;
}

#MainContainer > div > p {
  text-align: justify;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
 
  color: #000910;
  font-family: 'DM Sans', sans-serif;
}

.highlight {
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000910;
  font-family: 'DM Sans', sans-serif;
}

#MainContainer ul {
  margin: 10px 0 10px 40px;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000910;
  font-family: 'DM Sans', sans-serif;
}

#MainContainer li {
  margin: 5px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000910;
  font-family: 'DM Sans', sans-serif;
}

#MainContainer table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 1px solid #dedddd;
  border-radius: 8px;
  overflow: hidden;
  color:#55636E;
  font-family: 'DM Sans', sans-serif;
}

#MainContainer th {
  text-align: left;
  padding: 20px 10px;
  background-color: #FAF9F9;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color:#55636E;
  font-family: 'DM Sans', sans-serif;
}

#MainContainer td {
  text-align: left;
  padding: 20px 10px;
  border-bottom: 1px solid #dedddd;
  font-weight: 400;
  font-size: 16px;
  width: 80px;
  line-height: 19px;
  color: black;
  font-family: 'DM Sans', sans-serif;
}

#MainContainer img {
  max-width: 80%;
  max-height: 300px;
}

#notLoggedinDiv {
  margin: 14vh auto auto;
  width: 50%;
  text-align: center;
}

#notLoggedinDiv button {
  padding: 10px 30px;
  margin-top: 15px;
  background-color: #fb8135;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#notLoggedinDiv button:hover {
  background-color: #fe8d47;
}

#disclaimer {
  margin: 20px 0 10px;
  color: black;
}

#disclaimer b {
  color: black;
}

.readOrHide {
  font-weight: bold;
  cursor: pointer;
}

.titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0 0 10px;
}

.titleDivBtns {
  display: flex;
  gap: 10px;

  color: #06a77d;
}
.titleDiv > h2 {
  color: green;
}

.discoveryRouteBtn {
  border: 1px solid #06a77d;
  color: #06a77d;
  text-decoration: none;
  padding: 12px 16px;
  font-weight: 600;
  border-radius: 4px;
  line-height: 17px;
  font-family: 'DM Sans', sans-serif;
}

/* Responsiveness for small screen laptops */
@media only screen and (max-width: 1200px) {
  #MainContainer table {
    display: block;
    overflow-x: auto;
  }

  .discoveryRouteBtn {
    font-weight: 600;
  }
}

/* Responsiveness for tablet view */
@media only screen and (max-width: 1040px) {
  #MainContainer {
    width: 95%;
  }

  #MainContainer table {
    width: 100%;
    margin-bottom: 40px;
    overflow-x: auto;
    white-space: nowrap;
    display: block;
  }

  #MainContainer img {
    max-width: 100%;
    max-height: 250px;
  }

  #notLoggedinDiv {
    margin: 100px auto auto;
  }
}

/* Responsiveness for mobile view */
@media only screen and (max-width: 639px) {
  #MainContainer {
    width: 95%;
  }

  .discoveryRouteBtn {
    border: 1px solid #06a77d;
    color: #06a77d;
    text-decoration: none;
    padding: 8px 8px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    line-height: 17px;
    font-family: 'DM Sans', sans-serif;
  }
  #MainContainer h2 {
    font-size: larger;
  }

  #MainContainer ul {
    margin: 20px 0 20px 30px;
  }

  #notLoggedinDiv {
    margin: 100px auto auto;
    width: 95%;
  }

  .titleDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }
  .titleDivBtnsHeading {
    order:2;
   }
  .titleDivBtns {
   order:1;
  }
  .titleDivBtns:first-child {
    align-self: flex-start;
  }

  .titleDivBtns:last-child {
    align-self: flex-end;
  }
}
